
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h1 style="color:red;padding-left:28px">J11.com</h1>
            <ul style="font-size:20px">
             <li>Hakkımızda</li>
             <li>Ödeme Koruma Sistemi</li>
             <li>İnsan Kaynakları</li>
             <li>Marka Koruma Merkezi</li>
             <li>Yardım</li>
             <li>İletişim</li>
            </ul>
        </div>
        <div class="col-md">
            <h1>Hakkımızda</h1>
            <h2>j11.com</h2>
            <h5 style="color:#AAAAAA">
                <p>>Doğuş Planet, e-ticaret sektöründe faaliyet göstermek üzere, Doğuş Grubu ile Güney Kore’nin en büyük gruplarından SK Group’un ortaklığında Haziran 2012’de kuruldu.</p>

                <p>Doğuş Planet, SK Group’un teknoloji ve inovasyon konusundaki tecrübesini Doğuş Grubu’nun bilgi birikimi, bölgesel tecrübesi ve gücü ile birleştirmektedir.</p>
                
                <p>Bu güçlü ortaklık çerçevesinde, Doğuş Planet e-ticaret yatırımı olarak, binlerce marka ve mağazayı milyonlarca müşteriyle buluşturan açık pazar platformu alışverişin uğurlu adresi “n11.com”u açtı.</p>
                
                <p>n11.com; elektronikten tekstile, mutfak gereçlerinden Türkiye’nin nadide el sanatlarına kadar farklı ihtiyaç ve zevklere hitap eden milyonlarca ürün, alışveriş yaptıkça kazandıran yapısı ile üyelerine yeni bir alışveriş deneyimi sunuyor. n11.com, müşteriler tarafında güven ve kolaylık, mağazalar tarafında ise işbirliği ve e-ticareti geliştirme odaklı bir yaklaşım izlemektedir.</p>
                
                <p>Siz de alışverişin uğurlu dünyasına katılabilir, milyonlarca ürün ve binlerce mağazanın olduğu n11.com’da, avantaj dolu alışverişin keyfini çıkartabilirsiniz.</p>
                <p>Uğurlu alışverişler.
            </h5>
        </div>
        <div class="col-md">
            <div class="flex-column">
                <div class="shadow p-3 mb-5 bg-white rounded" style="background-color:#DFDFDF">
                    <h3>VİZYONUMUZ</h3>
                    <h4 style="color:#AAAAAA">
                        <p>
                            Türkiye’de ve bölgede e-ticaret sektörünün lideri olmak.
                        </p>
                    </h4>
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded" style="background-color:#DFDFDF">
                    <h3>MİSYONUMUZ</h3>
                    <h4 style="color:#AAAAAA">
                        <p>
                            E-ticaret sektöründe hem müşterilere hem mağazalara yenilikçi hizmetler sunarak Türkiye e-ticaret sektörünün yeniden şekillendirilmesine öncülük etmek.
                        </p>
                    </h4>
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded" style="background-color:#DFDFDF">
                    <h3>STRATEJİMİZ</h3>
                    <h4 style="color:#AAAAAA">
                        <p>
                            Stratejik ortaklıklarla güçlü entegrasyona dayanan eko-sistemimizde, müşterilere Güven ve Kolaylık; mağazalara ise Destek ve Özen üzerine dayalı değer önerileri sunmaktır.
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

